<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Directives Exercise</h1>
                <!-- Exercise -->
                <!-- Build a Custom Directive which works like v-on (Listen for Events) -->
                <button v-customOn:click="clicked" class="btn btn-primary">Button</button>
                <div style="width: 100px; height: 100px; background: lime"
                    v-customOn:mouseenter="mouseEnter"
                    v-customOn:mouseleave="mouseLeave">
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
      directives: {
        customOn: {
          bind(el, binding) {
            const ev = binding.arg
            const fn = binding.value
            el.addEventListener(ev, fn)
          }
        }
      },
      methods: {
        clicked() {
          console.log('I was clicked')
        },
        mouseEnter() {
          console.log('Mouse enter')
        },
        mouseLeave() {
          console.log('Mouse leave')
        },
      }
    }
</script>

<style>
.block{
  background: lime;
  width: 70px;
  height: 70px;
}
</style>
